.maquininha{
    background-color: white;
    width: 255px;
    height: 187px;
    margin-left: 1.4cm;
}

.cardCesto{
    background-color: white;
}

.lala{
    text-align: center;
}

.cliButton{
    margin-left: 1cm;
    justify-content: center;
    position: absolute;
	bottom: 0;
}