<ion-header>
  <ion-toolbar>
    <ion-title class="lala"> 
      
          Olá, <br>
          Seja bem-vindo
       
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    
    <h2>Escolha o melhor dia</h2>
  </div>
    <ion-col>
      <ion-card class="cardCesto">
        <img
          src="https://www.flaticon.com/svg/static/icons/svg/42/42328.svg"
          class="maquininha">
      </ion-card>
    </ion-col>
  <h2 class="ion-text-center ion-margin-top">E agende a retirada das roupas sujas</h2>
  
  <ion-item>
      <ion-button routerLink="/step3" slot="end" fill="clear" shape="round">
        <ion-label>Proximo</ion-label>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
  </ion-item>
  
    <ion-card class="cliButton">
      <ion-button routerLink="/cadastro" size="large" expand="full" fill="clear">Ja sei como funciona</ion-button>
    </ion-card>
    
</ion-content>