<ion-header>
  <ion-toolbar>
     <ion-buttons slot="end">
       <ion-button routerLink="/ag-entrega">
        <ion-icon name="notifications-outline"></ion-icon>
       </ion-button>
     </ion-buttons>

  
    <ion-title>finish</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 class="ion-text-center">Tudo certo, agora é só esperar o dia agendado.</h1>

  <h2 class="ion-text-center">Aconteceu algum imprevisto? é só cancelar o pedido</h2>

  <ion-card class="cliButton">
    <ion-button size="large" expand="full" fill="clear">Cancelar pedido</ion-button>
  </ion-card>

 

</ion-content>
