<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start" >
      <ion-menu-button class="bg-transparent"></ion-menu-button>
    </ion-buttons>

    <ion-title slot="end">
       <img src="/assets/imgs/Smee.png" class="logo-white-login"> 
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-menu side="start" menuId="first" contentId="main">

  <ion-header>

    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>

  </ion-header>
  
  <ion-content>

    <ion-list>

      <ion-item routerLink="/menu">Planos</ion-item>
      <ion-item routerLink="/sobrenos">Sobre nós</ion-item>
      <ion-item routerLink="/faleconosco">Fale conosco</ion-item>
        <ion-item lines="full">
          <ion-label>
             Dark Theme
          </ion-label>

          <ion-toggle default (ionChange)="tema($event)" slot="end"></ion-toggle>

        </ion-item>

    </ion-list>

  </ion-content>

</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-content>
  <div>
    <img
        src="/assets/imgs/lucao.jpg"
        class="foto">

    <img
        src="/assets/imgs/jhow.jpeg"
        class="foto">

    <img
        src="/assets/imgs/clark.jpeg"
        class="foto">

    <img
        src="/assets/imgs/erick.jpeg"
        class="foto">
  </div>
</ion-content>