.titulo{
    text-align: center;
}

.cliButton{
    width: 100%;
    margin-left: 0.0;
    position: absolute;
    
    top: 89%;
    background-color: #0084d1fb;
    
}

.a{
    color: rgb(252, 252, 252);
    font-weight: bold;
}

.b{
    color: rgb(252, 252, 252);
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

.blue-div{
    width: 100%;
    height: 49%;
    background: #0099ff;
}

//backgroud-menu
ion-toolbar{
    --background: #0099ff; 
  }

  .msg {
      background: #0099ff;
      text-align: center;
      margin: 0;
      padding: 0;
  }

  ion-radio{
    --color: #000000;
    --inner-border-radius: 5;
  }

  ion-item{
      --background: #0099ff; 
      --border-color: #0099ff;
      --border-radius: #000000;
      --color: #ffffff;
  }





  //menu-hamburguer
.bg-transparent{
    color: white;
  }

  //menu-logo
img{
    width: 38px;
  }