<ion-content>

  <!-- LOGIN -->
  <div class="bg-login">

    <!-- overlay -->
    <div class="overlay">

      <!-- Login-Container -->
      <div class="form-txt">

        <!-- logo -->
        <div class="center padding-top-10-percent">
          <img src="/assets/imgs/Smee.png" class="logo-white-login">
        </div>

        <!-- TEXTOS -->
        <div class="mg-top-30">
          <!-- TITULOS -->
          <h5 class="center bold no-margin mg-top-40">
            Que bom te ver aqui!
          </h5>
          <!-- SUBTITULO -->
          <p class="center light no-margin mg-top-10">
            Entre com a sua conta para continuar
          </p>
        </div>
        <!-- Forms e CTA -->
        <div class="padding-40">

          <ion-item class="bg-transparent no-padding mg-top-30 form-txt">
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>

          <ion-item class="bg-transparent no-padding mg-top-20 form-txt">
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>

          <div class="ctalogin bold center mg-top-30" routerLink="/agendamento">
            entrar
          </div>

          <!-- Cadastre-se -->
          <div class="txtcad bold mg-top-20 center" routerLink="/cadastro">
            Criar uma nova conta
          </div>

        </div>

      </div>

    </div>

  </div>
  
</ion-content>