<ion-content>

  <!-- background -->
  <div class="bg-login">

    <!-- overlay -->
    <div class="overlay">

      <!-- Login-Container -->
      <div>

        <!-- logo -->
        <div class="center padding-top-20-percent">
          <img src="/assets/imgs/logo-white.png" class="logo-white-login">
        </div>

        <!-- TEXTOS -->
        <div class="ng-top-30">
          <!-- TITULOS -->
          <h5 class="center bold no-margin ng-top-5">
            Que bom te ver aqui!
          </h5>
          <!-- SUBTITULO -->
          <p class="cente light no-margin ng-top-5"> 
            Entre com a sua conta para continuar
          </p>
        </div>
        <!-- Forms -->
        <div class="padding-40">
          <ion-item class="bg-transparent no-padding">
            <ion-label  class="bold" position="stacked">E-mail</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
        </div>


      </div>

    </div>

  </div>

</ion-content>
