<ion-header>
  <ion-toolbar>
    <ion-title class="lala"> 
      
          Olá, <br>
          Seja bem-vindo
       
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    
    <h2>Lavamos e passamos suas roupas</h2>
  </div>
  <ion-row>
    <ion-col>
      <ion-card>
        <img
          src="https://www.flaticon.com/svg/static/icons/svg/3023/3023098.svg"
          class="maquininha">
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <img
          src="https://www.flaticon.com/svg/static/icons/svg/2990/2990597.svg"
          class="maquininha">
      </ion-card>
    </ion-col>
  </ion-row>
  <h2 class="ion-text-center ion-margin-top">E agora é só escolher quando quer recebê-las em sua casa</h2>
  
    <ion-card class="cliButton">
      <ion-button routerLink="/cadastro" size="large" expand="full" fill="clear">Entendi, quero começar</ion-button>
    </ion-card>
    
</ion-content>