<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/ag-entrega">
       <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">entrega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 class="ion-text-center">Tudo certo, agora é só esperar o dia agendado.</h1>

  <h2 class="ion-text-center">Precisa mudar a data de entrega? só clicar no botao aqui em baixo</h2>

  <ion-card class="cliButton">
    <ion-button routerLink="/ag-entrega" size="large" expand="full" fill="clear">Alterar dia </ion-button>
  </ion-card>

 

</ion-content>
