<ion-content>
  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide class="fund">
      <img
      src="/assets/imgs/machine.png"
      class="maquininhaa">
      <ion-card class="cliButton">
        <ion-button routerLink="/login" size="large" expand="full" fill="clear"> <h4 class="a">Ja sei como funciona</h4></ion-button>
      </ion-card>
    </ion-slide>
    
    <ion-slide class="fund">
      <img
      src="/assets/imgs/basket-removebg-preview.png"
      class="maquininhaa">
      <ion-card class="cliButton">
        <ion-button routerLink="/login" size="large" expand="full" fill="clear"> <h4 class="a">Ja sei como funciona</h4></ion-button>
      </ion-card>
    </ion-slide>

    <ion-slide class="fund">
      <img
      src="/assets/imgs/calendar.png"
      class="maquininhaa">
      <ion-card class="cliButton">
        <ion-button routerLink="/login" size="large" expand="full" fill="clear"><h4 class="a">Ja sei como funciona</h4></ion-button>
      </ion-card>
    </ion-slide>
    
    
    <ion-slide class="fund">
      <img
      src="/assets/imgs/planos.png"
      class="maquininhaa">
      <ion-card class="cliButton">
        <ion-button routerLink="/login" size="large" expand="full" fill="clear"><h4 class="a">Ja sei como funciona</h4></ion-button>
      </ion-card>
    </ion-slide>
    
    <ion-slide class="fund">
      <img
      src="/assets/imgs/limpo.png"
      class="maquininhaa">
      <ion-card class="cliButton">
        <ion-button routerLink="/login" size="large" expand="full" fill="clear"><h4 class="a">Entendi, quero começar</h4></ion-button>
      </ion-card>
    </ion-slide>
    
    

    

  </ion-slides>
</ion-content>