//backgroud-menu
ion-toolbar{
  --background: #0099ff; 
}

//menu-logo
img{
  width: 45px;
}

//menu-hamburguer
.bg-transparent{
  color: white;
}

.blue-div{
    width: 100%;
    height: 50%;
    background: #0099ff;
}
.fullscreencenter{
    width: 100%;
    position: absolute;
}

.featured-txt{
    font-weight: bold;
    text-align: center;
    left: 10%;
}
.customslides{
    width: 100%;
    height: 30%;
    position: absolute;
    top: 35%;
}

.customslide{
    width: 80% !important;
    margin-left: 10%;
    border-radius: 15px;
}