.maquininha{
    background-color: white;
    width: 255px;
    height: 190px;
}

.titulo{
    text-align: center;
}
.cliButton{
    margin-left: 1cm;
    justify-content: center;
    position: absolute;
	bottom: 0;
}