.maquininha{
    background-color: white;
    width: 255px;
    height: 187px;
    margin-left: 1.4cm;
}

.a{
    color: rgb(252, 252, 252);
}

.cardCesto{
    background-color: rgba(255, 255, 255, 0);
    width: auto;
    height: auto;
}

.hea{
    color: rgba(197, 43, 43, 0);
}

.fund{
    width: 412px;
    height: 732px;
    background-image: url(/assets/imgs/fundo2.jpg);
}

.maquininhaa{
    width: 250px;
    height: 250px;
    position: absolute;
    left:20%;
    top: 18%;
}

.lala{
    text-align: center;
}

.cliButton{
    width: 100%;
    margin-left: 0.1;
    position: absolute;
    
    top: 90%;
    background-color: #0084d1fb;
    
}

.butao{
    position: absolute;
    bottom: 0%;
    left: 10%;
    
}
.baile-casinha-foto{
    max-height: 150px;
    width: 100%;
    object-fit: cover;
}
.baile-avatar{
    width: 50px;
    height: 50px;
}
.baile-avatar + .baile-avatar{
    margin-left: 0.5em;
}
.quebrada-image{
    height: 100px;
    width: 100%;
    object-fit: cover;
}
.quebrs{
    color: white;
    background: rgba($color: #000000, $alpha: 0.8) ;
    position: absolute;
    bottom: 0.5em;
    padding: 3px;
    margin: 0;
    font-size: 1.0em;
    border-radius: 0 0.3em 0.3em 0;
}
.socios{
    width: 50px;
    height: 50px;
}
.foisera{
    width: auto;
    height: auto;
}

.aga{
    color: #f3d008;
}