<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Agendamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  
    <ion-item lines="full">
      <ion-label position="floating">Dia da retirada</ion-label>
      <ion-datetime [(ngModel)]="mydate" min="2020" max="2020"></ion-datetime>
    </ion-item>
  
    <ion-item >
      <ion-label>Hora da retirada</ion-label>
      <ion-datetime [(ngModel)]="mydate" displayFormat="HH:mm"></ion-datetime>
    </ion-item>
  
  

  <ion-card class="cliButton">
    <ion-button (click)="agendamento()" routerLink="/pagamento" size="large" expand="full" fill="clear">Ir para a forma de pagamento</ion-button>
  </ion-card>
  
</ion-content>
