<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start" >
      <ion-menu-button class="bg-transparent"></ion-menu-button>
    </ion-buttons>

    <ion-title slot="end">
       <img src="/assets/imgs/Smee.png" class="logo-white-login"> 
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-menu side="start" menuId="first" contentId="main">

  <ion-header>

    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>

  </ion-header>
  
  <ion-content>

    <ion-list>

        <ion-item routerLink="/menu">Planos</ion-item>
        <ion-item routerLink="/sobrenos">Sobre nós</ion-item>
        <ion-item routerLink="/faleconosco">Fale conosco</ion-item>

        <ion-item lines="full">
          <ion-label>
             Dark Theme
          </ion-label>

          <ion-toggle default (ionChange)="tema($event)" slot="end"></ion-toggle>

        </ion-item>

    </ion-list>

  </ion-content>

</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-content>
  <!-- Register -->
  <div class="bg-register">
 
   <!-- overlay -->
   <div class="overlay">
 
     <!-- register-Container -->
     <div>
 
       <!-- TEXTOS -->
       <div class="mg-top-30">
         <!-- TITULOS -->
         <h5 class="center bold no-margin mg-top-40">
           Quem Somos?
         </h5>
         <!-- SUBTITULO -->
         <p class="center light no-margin mg-top-10">
           A Smell Good é um app com o objetivo de facilitar e inovar os preceitos do mercado atual de lavanderias e comercios ligados a limpeza de vestimentas.
         </p>
          <!-- TITULOS -->
          <h5 class="center bold no-margin mg-top-40">
            missão?
          </h5>
          <!-- SUBTITULO -->
          <p class="center light no-margin mg-top-10">
             Lavar o maior número possível de roupas do Brasil          </p>
            <h5 class="center bold no-margin mg-top-40">
              Visão?
            </h5>
            <!-- SUBTITULO -->
            <p class="center light no-margin mg-top-10">
              Ser o melhor app de coleta do Brasil          </p>
           <h5 class="center bold no-margin mg-top-40">
            Valores?
          </h5>
          <!-- SUBTITULO -->
          <p class="center light no-margin mg-top-10">
            -Integridade e honestidade. </p>
          <p class="center light no-margin mg-top-10">
            -Empenho para com os clientes, parceiros e tecnologia. </p>
          <p class="center light no-margin mg-top-10">
            -Abertura e respeito para com os outros e empenho para contribuir para o seu desenvolvimento. </p>
            <p class="center light no-margin mg-top-10">
            -Capacidade para aceitar grandes desafios e conduzi-los até ao final. </p>
         <p class="center light no-margin mg-top-10">
            -Atitude crítica, dedicação para com a qualidade. </p>    
              
       </div>
       
       
    <!-- <ion-card class="cliButton">
      <ion-button routerLink="/menu" size="large" expand="full" fill="clear">voltar</ion-button>
    </ion-card> -->
 
       </div>
 
     </div>
 
   </div>
 
 

 </ion-content>