<ion-content>
  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide class="fund">
      <h3 class="aga1">Não sabe como lavar suas roupas sem perder tempo?</h3>
      <h4 class="aga2">Arrasta pro lado meu querido cliente</h4>
      <br>
      <h1 class="aga3">>>>>>>></h1>
      <img src="/assets/imgs/machine.png" class="maquininhaa">
      <ion-card class="cliButton">
        <ion-button routerLink="/login" size="large" expand="full" fill="clear"> <h4 class="a">Ja sei como funciona</h4></ion-button>
      </ion-card>
    </ion-slide>
    
    <ion-slide class="fund">
      <h3 class="aga1">Basta nos informar seu endereço </h3>
      <img
      src="/assets/imgs/location.png"
      class="maquininhaa">
      <ion-card class="cliButton">
        <ion-button routerLink="/login" size="large" expand="full" fill="clear"> <h4 class="a">Ja sei como funciona</h4></ion-button>
      </ion-card>
    </ion-slide>

    <ion-slide class="fund">
      <h3 class="aga1">Escolher o melhor dia para voce </h3>
      <img
      src="/assets/imgs/calendar.png"
      class="maquininhaa">
      <ion-card class="cliButton">
        <ion-button routerLink="/login" size="large" expand="full" fill="clear"><h4 class="a">Ja sei como funciona</h4></ion-button>
      </ion-card>
    </ion-slide>
    
    
    <ion-slide class="fund">
      <h3 class="aga1">Escolha o plano que mais se encaixa para a sua necessidade</h3>
      <img
      src="/assets/imgs/planos.png"
      class="maquininhaa">
      <ion-card class="cliButton">
        <ion-button routerLink="/login" size="large" expand="full" fill="clear"><h4 class="a">Ja sei como funciona</h4></ion-button>
      </ion-card>
    </ion-slide>
    
    <ion-slide class="fund">
      <h3 class="aga1">Depois disso é só esperar, porque vamos buscar suas roupas, lavar, secar e entregar na sua casa</h3>
      <img
      src="/assets/imgs/limpo.png"
      class="maquininhaa">
      <ion-card class="cliButton">
        <ion-button routerLink="/login" size="large" expand="full" fill="clear"><h4 class="a">Entendi, quero começar</h4></ion-button>
      </ion-card>
    </ion-slide>
    
    

    

  </ion-slides>
</ion-content>