.a{
    color: rgb(252, 252, 252);
    font-weight: bold;
}
.aga1{
    position: absolute;
    bottom: 82%;
    color: white;
    font-weight: bold;
}
.aga2{
    position: absolute;
    bottom: 35%;
    color: white;
    font-weight: bold;
}
.aga3{
    position: absolute;
    bottom: 30%;
    color: white;
    font-weight: bold;

}



.fund{
    width: 412px;
    height: 732px;
    background-image: url(/assets/imgs/fundo2.jpg);
}

.maquininhaa{
    width: 250px;
    height: 250px;
    position: absolute;
    left:20%;
    top: 18%;
}

.cliButton{
    width: 100%;
    margin-left: 0.1;
    position: absolute;
    
    top: 90%;
    background-color: #0084d1fb;
    
}
